.clock {
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    margin: 8% auto 0;
    border: 14px solid #333;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 2vw 4vw -1vw rgba(0,0,0,0.8);
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 4px -1px black;
}

.hour-hand {
    position: absolute;
    z-index: 5;
    width: 4px;
    height: 65px;
    background: #333;
    top: 50%;
    transform-origin: 50% 72px;
    left: 50%;
    margin-left: -2px;
    margin-top: -72px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.minute-hand {
    position: absolute;
    z-index: 6;
    width: 4px;
    height: 100px;
    background: #666;
    top: 50%;
    transform-origin: 50% 105px;
    left: 50%;
    margin-left: -2px;
    margin-top: -105px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.second-hand {
    position: absolute;
    z-index: 7;
    width: 2px;
    height: 120px;
    background: gold;
    top: 50%;
    transform-origin: 50% 125px;
    left: 50%;
    margin-left: -1px;
    margin-top: -125px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

span {
    display: inline-block;
    position: absolute;
    color: #333;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    z-index: 4;
}

.h3 {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.h6 {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.h9 {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.h12 {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.info {
    position: absolute;
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    width: 100%;
}

.date {
    top: 80px;
    font-size: 14px;
    font-weight: bold;
}

.day {
    top: 100px;
    font-size: 12px;
}

.diallines {
    position: absolute;
    width: 100%;
    height: 100%;
}

.diallines div {
    position: absolute;
    width: 2px;
    height: 10px;
    background: #999;
    left: 50%;
    transform-origin: 50% 150px;
    margin-left: -1px;
}